
<div class="container pt-4">
    <div class="row">
        <div class="col">
            <p class="h6 text-center">General-Co Members</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-xs-12 col-sm-6 col-md-3">
            <div class=" card border-0 member-avatar">
                <img src="/static/img/professors/wang.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body text-center">
                    <h6 class="member-name">Xinheng Wang</h6>
                    <p class="member-university">
                        Xi’an Jiaotong-Liverpool University</p>
                    <p class="member-country">China</p>

                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-3">
            <div class=" card border-0 member-avatar" >
                <img src="/static/img/professors/dr-honghao.png" class="card-img-top rounded-circle" alt="...">
                <div class="card-body text-center">
                    <h6 class="member-name">Honghao Gao</h6>
                    <p class="member-university">
                        Shanghai University</p>
                    <p class="member-country">China</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-3">
            <div class="card border-0 member-avatar" >
                <img src="/static/img/professors/muddesar-iqbal.jpg" class="card-img-top rounded-circle" alt="...">
                <div class="card-body text-center">
                    <h6 class="member-name">Muddesar Iqbal</h6>
                    <p class="member-university">
                        London South Bank University</p>
                    <p class="member-country" >UK</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-xs-12 col-sm-6 col-md-3">
            <div class=" card border-0 member-avatar">
                <img src="/static/img/professors/prof-mumtaz.png" class="card-img-top rounded-circle border" alt="...">
                <div class="card-body text-center">
                    <h6 class="member-name">Shahid Mumtaz</h6>
                    <p class="member-university">
                        Instituto de Telecomunicacoes</p>
                    <p class="member-country">Portugal</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-3">
            <div class="card border-0 member-avatar">
                <img src="/static/img/professors/prof-JianWan.png" class="card-img-top rounded-circle border" alt="...">
                <div class="card-body text-center">
                    <h6 class="member-name">Jian Wan</h6>
                    <p class="member-university">
                        Zhejiang University of Science and Technology
                    </p>
                    <p class="member-country">China</p>
                </div>
            </div>
        </div>
    </div>
</div>