<div class="container pt-4">
    <div class="row">
        <div class="col p-3">
            <p class="h6 text-center">Local Chairs</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-xs-12 col-sm-6 col-md-3">
            <div class="card border-0 member-avatar">
                <img src="/static/img/user.png" class="card-img-top rounded-circle border">
                <div class="card-body text-center">
                    <h5 class="member-name">Xiaoyi Wu</h5>
                    <p class="member-university"> Xi’an Jiaotong-Liverpool University</p>
                    <p class="member-country">China</p>
                </div>
            </div>
        </div>
    </div>
</div>