<!doctype html>
<html lang="en">

<head id="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <meta name="description" content="A simple HTML5 Template for the projects.">
    <meta name="author" content="Academic conference document">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap" rel="stylesheet">
</head>

<body>

    {% block header %}
    {% include 'header.html' %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
</body>
<script src="static/js/bootstrap.bundle.min.js"></script>

</html>