<div class="container pt-4">
    <div class="row">
        <div class="col">
            <p class="h6 text-center">Our Sponsors</p>
            <hr>
        </div>
    </div>
    <div class="row justify-content-md-center" style="padding-left:4rem;">
        <div class="col-12 col-xs-12 col-sm-6 col-md-3 px-2" class="sponsor-logo" >
            <img src="/static/img/sponsors/IEEE-Logo.png" >
        </div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-2" class="sponsor-logo" >
            <img src="/static/img/sponsors/ZUST.png" >
        </div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-2" class="sponsor-logo" >
            <img src="/static/img/sponsors/shu.jpg" >
        </div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-2" class="sponsor-logo" >
            <img src="/static/img/sponsors/LSBU.jpg" >
        </div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-3 px-2" class="sponsor-logo" >
            <img src="/static/img/sponsors/Jiatong-liverpool.png">
        </div>
    </div>
</div>