<div class="container" id="header">
    <div class="row" style="height: inherit;">
        <div class="col-3  pt-3" style="font-family: 'Vesper Libre', serif;">
            <h6>IEEE </h6>
            <h4>International Conference</h4>
        </div>
        <div class="col-9 ">
            <h4>IEEE International Conference on</h4>
            <h2>Human-Centered Cognitive Systems (IEEE HCCCS2022) </h2>
            <h5>17-18 December 2022 <br>Suzhou, China</h5>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle menu" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              COMMITTEES
            </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Organizing Committee</a></li>
              <li><a class="dropdown-item" href="#">Technical Program Committee</a></li>
              <li><a class="dropdown-item" href="#">Advisory Committee</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">AUTHORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">PROGRAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">REGISTRATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">HOTEL/TRAVEL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">SPONSORS / EXHIBITIONS</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>