<div class="container" id="header">
    <div class="row ">
        <div class="banner" style="font-family: 'Vesper Libre', serif;">
            <p class="h6 m-0">International Conference On</p>
            <p class="h4 m-0"> Human-Centered Cognitive Systems (HCCS 2022) </p>
            <p class="h6 m-0">17-18 December 2022 Shanghai, China</p>
        </div>
    </div>
</div>

<div class="container p-0">
<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a {% if link=="home" %}class="nav-link active" {% else %} class="nav-link" {% endif %} aria-current="page" href="{{ url_for('home') }}">HOME</a>
          </li>
          <li class="nav-item">
            <a {% if link=="about_us" %}class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('about_us') }}">ABOUT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle menu" href="/all-members" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MEMBERS
            </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <li><a {% if link=="all_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('all_chairs') }}">All Members</a></li>
              <li><a {% if link=="general_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('general_chairs') }}">Conference Co-General Chairs</a></li>
              <li><a {% if link=="technical_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('technical_chairs') }}">Technical Program Chairs</a></li>
              <li><a {% if link=="publications_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('publications_chairs') }}">Publication Chairs</a></li>
              <li><a {% if link=="international_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('international_chairs') }}">International Chairs</a></li>
              <li><a {% if link=="publicity_social_media_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('publicity_social_media_chairs') }}">Publicity & Social Media Chairs</a></li>
              <li><a {% if link=="workshop_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('workshop_chairs') }}">Workshops Chair</a></li>
              <li><a {% if link=="panel_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('panel_chairs') }}">Panel Chairs</a></li>
              <li><a {% if link=="tutorial_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('tutorial_chairs') }}">Tutorial Chairs</a></li>
              <li><a {% if link=="local_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('local_chairs') }}">Local Chairs</a></li>
              <li><a {% if link=="award_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('award_chairs') }}">Award Chairs</a></li>
              <li><a {% if link=="phd_track_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('phd_track_chairs') }}">PhD Track Chairs</a></li>
              <li><a {% if link=="web_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('web_chairs') }}">Web Chairs</a></li>
              <li><a {% if link=="program_committee_chairs" %}class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ url_for('program_committee_chairs') }}">program Committee members</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a {% if link=="workshops" %}class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('workshops') }}" tabindex="-1" aria-disabled="true">WORKSHOPS</a>
          </li>
          <li class="nav-item">
            <a {% if link=="" %}class="nav-link active" {% else %} class="nav-link" {% endif %} href="" tabindex="-1" aria-disabled="true">AUTHORS</a>
          </li>
          <li class="nav-item">
            <a {% if link=="" %}class="nav-link active" {% else %} class="nav-link" {% endif %} href="" tabindex="-1" aria-disabled="true">PROGRAM</a>
          </li>
          <li class="nav-item">
            <a {% if link=="registration" %}class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('registration') }}" tabindex="-1" aria-disabled="true">REGISTRATION</a>
          </li>
          <li class="nav-item">
            <a {% if link=="hotels" %}class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('hotels') }}" tabindex="-1" aria-disabled="true">HOTEL/TRAVEL</a>
          </li>
          <li class="nav-item">
            <a {% if link=="sponsors" %}class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('sponsors') }}" tabindex="-1" aria-disabled="true">SPONSORS</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

{% if not no_banner %}
<div class="container p-0">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/original_theme.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
</div>
{% endif %}