<div class="container" id="header">
    <div class="row ">
        <div class="col-4 col-md-3 logo" >
          <img src="static/img/logo.png" class="img-fluid" alt="...">
        </div>
        <div class="col-8 col-md-9 banner" style="font-family: 'Vesper Libre', serif;">
            <p class="h4">Human-Centered Cognitive Systems (IEEE HCCCS2022) </p>
            <p class="h6">17-18 December 2022 Suzhou, China</p>
        </div>
    </div>
</div>

<div class="container p-0">
<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">ABOUT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle menu" href="/all-members" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MEMBERS
            </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/all-chairs">All chairs</a></li>
              <li><a class="dropdown-item" href="/general-chairs">Conference Co-General Chairs</a></li>
              <li><a class="dropdown-item" href="/technical-chairs">Technical Program Chairs</a></li>
              <li><a class="dropdown-item" href="/publications-chairs">Publication Chairs</a></li>
              <li><a class="dropdown-item" href="/international-chairs">International Chairs</a></li>
              <li><a class="dropdown-item" href="/publicity-social-media-chairs">Publicity & Social Media Chairs</a></li>
              <li><a class="dropdown-item" href="/workshop-chairs">Workshops Chair</a></li>
              <li><a class="dropdown-item" href="/sponsor-exhibition-chairs">Sponsorship & Exhibition Chairs</a></li>
              <li><a class="dropdown-item" href="/panel-chairs">Panel Chairs</a></li>
              <li><a class="dropdown-item" href="/tutorials-chairs">Tutorial Chairs</a></li>
              <li><a class="dropdown-item" href="/demos-chairs">Demo Chairs</a></li>
              <li><a class="dropdown-item" href="/local-chairs">Local Chairs</a></li>
              <li><a class="dropdown-item" href="/award-chairs">Award Chairs</a></li>
              <li><a class="dropdown-item" href="/phd-track-chairs">PhD Track Chairs</a></li>
              <li><a class="dropdown-item" href="/web-chairs">Web Chairs</a></li>
              <li><a class="dropdown-item" href="/program-committee-chairs">program Committee members</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">AUTHORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">PROGRAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/registration" tabindex="-1" aria-disabled="true">REGISTRATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/hotels" tabindex="-1" aria-disabled="true">HOTEL/TRAVEL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/sponsors" tabindex="-1" aria-disabled="true">SPONSORS</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container p-0">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/original_theme.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
</div>