{% extends "base.html"%}

{%- block main -%}
<div class="container">
  <div class="row pt-4">
    <div class="col-xs-12 col-sm-6 col-md-9">
      <p class="text-justify">
        Industry 5.0 goes beyond automation for goods and services. It put well-being of society at the centre
        of
        automation process to ensure robots and human work collaboratively using cognitive computing
        capabilities with
        human touch. The future Internet technologies, platforms and frameworks are expected to have a
        breakthrough by
        enabling the emergence of Human-centred Cognitive Systems (HCCS) for industry 5.0 application scenarios.
        The
        adaptive, interactive and contextual features are considered as part of the design to adopt
        human-centric
        approaches for such HCCS frameworks. It calls for collaborative and transdisciplinary research to propose
        systems
        with the ability to analyze and predict both human as well as machine behaviours. It proactively
        diagnoses
        issues and recommends solutions without requiring any human intervention.
        <br>
        The annual international conference on Human-centred Cognitive Systems (HCCS) is a flagship
        conference
        to drive innovation for future industry 5.0 application scenarios. The HCCS calls for original
        papers and
        proposals to cover a variety of Human-centred Cognitive Systems stretched across city infrastructures,
        manufacturing, retail, business, tourism, health, law, and education. <BR>The paper submissions are invited on topics  that may include, but are not limited to:
      </p>

      <ul>
        <li>Intelligent edge</li>
        <li>Internet of Things (IoT)</li>
        <li>Internet of Senses (IoS)</li>
        <li>Self-driving vehicles </li>
        <li>IET Software</li>
        <li>Intelligent manufacturing</li>
        <li>Sensor to AI Fusion</li>
        <li>Super Functional Products</li>
        <li>Smart Materials</li>
        <li>Personalized Surfaces</li>
        <li>Multi-Object Tracking</li>
        <li>Mobility as a Service</li>
        <li>Intent-based-Networks</li>
        <li>Autonomous Port </li>
        <li>AI enabled Healthcare and Pharmaceuticals</li>
        <li>6G enabling technologies and application</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 bg-light p-2">
      <h5 class="text-center"><u>Important Information</u></h5>
      <p class="text-justify">The paper for conference proceedings have to be formatted using Conference templates as suggested
        <a class="link-dark" target="_blank" href="https://www.ieee.org/conferences/publishing/templates.html"><b>here</b></a>
      </p>
      <p class="text-justify">Please, submit your paper via Easychair by clicking button below.
        <br/><br/>
        <a href="https://easychair.org/conferences/?conf=ieeehccs2022" target="_blank" class="btn btn-primary" role="button" aria-disabled="true">Submit Paper Now</a>
      </p>
      <p>Paper Submission Deadline: <br><b>31 August 2022</b></p>
      <p>All the accepted papers will be indexed in IEEE Conference proceedings.</p>
      <p class="text-justify">Selected Papers will be invited to submit extended versions to the following Special Issues in the following
        Journals:</p>
      <ul>
        <li>Mobile Networks and Applications (IF: 3.2, Q2 Ranked Journal)</li>
        <li>Journal of Internet Technology (IF: 1.0, Q3 Ranked Journal)</li>
        <li>International Journal of Communication Systems (IF: 2.0, Q2 Ranked Journal）</li>
        <li>IET Software (IF: 1.3, Q3 Ranked Journal)</li>
        <li>Wireless Networks (IF: 2.6, Q2 Ranked Journal)</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}