{% extends "base.html"%}

{%- block main -%}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row pt-3">
                <p class="text-center h5">Introduction</p>
                <p>The Conference Organizing Committee invites submissions from individuals or groups to conduct
                    Workshops at the HCCS 2022.
                    <br><br>
                    Deadline for Workshop Proposals:<b>15<sup>th</sup> July, 2022</b>
                </p>
            </div>
            <br>
            <p class="h6">Proposal contents</p>
            <ul>
                <li>
                    Workshop title
                </li>
                <li>
                    Abstract (less than 200 words)
                </li>
                <li>
                    Name, affiliation, and e-mail address for each organizer
                </li>
                <li>
                    Identification of the primary contact person(s)
                </li>
                <li>
                    <b>Background and Motivation:</b> What is the overall topic of the workshop? Why is this topic of
                    particular interest at this time?
                </li>
                <li>
                    <b>Topics and scope: </b>These should be within or close to the scope covered by the main
                    conference, as mentioned above.
                </li>
                <li>
                    <b>Format: </b>Give a description of the proposed workshop format, including the target number of
                    participants, planned activities (such as introductions, invited talks, breakout group activities,
                    general discussion), as well as how these activities address the workshop objectives.
                </li>
                <li>
                    <b>Soliciting Submissions: </b>Indicate how you plan to attract submissions and/or participants.
                    Tactics may include circulating a call to relevant mailing lists (indicate these please as well),
                    publicizing your workshop at other relevant venues, and more.
                </li>
                <li>
                    <b>Selecting Participants: </b>Indicate how you plan to select participants and contributions to the
                    workshop. Indicate a program committee to help with the organization/review process.
                </li>
                <li>
                    <b>Organizers: </b>Give short descriptions of each of the organizers’ background and interests
                    related to pervasive computing and the specific workshop topic.
                </li>
            </ul>
            <br/>
            <p class="h6">Workshop Selection</p>
            <p>
                We aim to select a diverse set of workshops and avoid having multiple workshops on overlapping themes.
                Organisers of selected workshops will be asked to produce a Call for Papers to describe the workshop to
                potential participants and solicit submissions. In order to promote vivid discussions with more
                participants to the workshops, HCCS will provide Workshop Organisers with one free registration to the
                Workshop for each 10 papers submitted to their workshop.
                <br><br>The criteria for assessment will include:
            <ul>
                <li>
                    Relevance to conference vision/topics and attendees
                </li>
                <li>
                    Potential to bring in participants to the conference from different audiences
                </li>
                <li>
                    Overall quality of contribution
                </li>
                <li>
                    Provides a hands-on, collaborative, and/or active learning environment for attendees
                </li>
            </ul>
            </p>
            <br/>
            <p class="h6">Workshop publication</p>
            <p>
                Accepted and presented papers will be published alongside the main conference proceedings as a
                sub-section/chapter. Paper formats should, therefore, correspond to the templates of the publisher of
                the main conference.
                Workshop chairs are invited to engage journals and further publication opportunities.
            </p>
            <br/>
            <p class="h6">Proposal submission</p>
            <p>
                Workshop proposals should be submitted in a maximum of 4 pages in PDF format, single-spaced.<br>
                Please email your workshop proposals to <a href="mailto:gaohonghao@shu.edu.cn">gaohonghao@shu.edu.cn</a> with cc to <a href="mailto:m.iqbal@lsbu.ac.uk">m.iqbal@lsbu.ac.uk</a>
            </p>
        </div>
    </div>
</div>

{%- endblock -%}